@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Pretendard-Regular';
}

input, div, select, button, p, h1 {
	font-family: 'Pretendard-Regular';
}

li{
	list-style-type: none;
}

.todo_wrap{
	border: 1px solid #707070;
	border-radius: 25px;
	padding: 10px 17px;
}

.todo_title{
	text-align: center;
	font-size: 20px;
}

.todo_btn_wrap ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0;
}

.todo_btn_wrap ul li {
	width: 30%;
}
.todo_btn_wrap ul li button {
	width: 100%;
	height: 40px;
	border: none;
	cursor: pointer;
}

.todo_btn_wrap ul li button:hover,
.todo_btn_wrap ul li button:active{
	font-weight: bold;
}

.all_btn{
	background: #008b8b50;
}

.todo_form{
	border-bottom: 1px solid #707070;
}

.todo_form fieldset {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border: none;
	padding: 15px 10px;
}

#todo_input{
	background: transparent;
	border: none;
	border-bottom: 1px solid #707070;
	font-size: 15px;
	margin-right: 5px;
}

input[type="radio"]{
	display: none;
}

.radio_label{
	border: 1px solid #707070;
	padding: 5px 5px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 3px;
}

.submit_btn{
	background: #707070;
	border: 1px solid #707070;
	padding: 5px 12px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px;
}


.todo_list_box{
	padding: 15px 17px;
}

#sort_item{
	float: right;
}

.todo_list{
	padding: 20px 15px;
	border: 1px solid #707070;
	margin-top: 25px;
	 text-align: center;
}

.todo_item{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.todo_item input[type="checkbox"]{
	margin-right: 10px;
	width: 18px;
	height: 18px;
}
.todo_item input[type=text]{
	font-size: 14px;
	border: none;
	margin-right: 5px;
	width: fit-content;
}

.todo_item span{
	font-size: 14px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #707070;
}











@media (max-width:768px) {

	.radio_box{
		display: flex;
		flex-flow: column nowrap;
	}

	.radio_label{
		margin-top: 5px;
		padding: 7px 5px;
	}

	.submit_btn{
		margin-left: 5px;
		padding: 10px 12px;
	}
}