@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body, button{
	font-family: 'Pretendard-Regular';
}

.displaynone{
	display: none;
}

.cal_wrap{
	position: relative;
}

.cal_wrap h1{
	font-size: 18px;
}

.cal_table_wrap .cal_table {
	font-size: 16px;
	border: 1px solid #D3D3D3;
	border-collapse: collapse;
}

.cal_table_wrap .cal_table thead >tr >td {
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid #D3D3D3;
}
.cal_table_wrap .cal_table tbody >tr >td {
	position: relative;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid #D3D3D3;
	z-index: 1;
}


.memo_modal{
	position: absolute;
	border: 1px solid #707070;
	border-radius: 5px;
	padding: 10px 17px;
}

.memo_date{
	font-size: 14px;
}

.memo_form fieldset {
	border: none;
}

.memo_form textarea {
	border: 1px solid #dbdbdb
}

.memo_form fieldset button {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #707070;
	padding: 3px 9px;
}

.choice::after{
	position: absolute;
	display: block;
	content: "";
	width: 24px;
	height: 24px;
	background: #d8c9fb;
	top: calc(50% - 12px);
	left: calc(50% - 12px);
	border-radius: 50%;
	z-index: -1;
}